/*
*****
18. pricing
*************************
*/
.pricing-area {
	@media #{$xs} {
		padding-top: 80px;
	}
}
.pricing-inner {
}
.pricing-plans {
	margin-top: 25px;
	@media #{$xs} {
		margin-top: 90px;
	}
}
.single-pricing {
	padding: 40px 20px;
	box-shadow: 0px 20px 30px rgba(16, 0, 71, 0.07);
	@include transition(0.5s);
}
.single-pricing.active,
.single-pricing:hover {
	background: $theme-color;
	& .pricing-title h5 {
		color: $white;
	}
	& .pricing-title span {
		color: $white;
	}
	& .pricing-list li {
		color: $white;
	}
	& .grb-border-btn {
		color: $heading-color;
		border-color: $white;
		background: $white;
	}
}
.pricing-title {
	text-align: center;
	& h5 {
		font-size: 18px;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 10px;
		@include transition(0.3s);
	}
	& span {
		font-size: 48px;
		font-weight: 700;
		color: $theme-color-3;
		line-height: 1;
		@include transition(0.3s);
	}
}
.pricing-list {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 45px;
	& li {
		font-size: 15px;
		color: $heading-color;
		margin-bottom: 28px;
		@include transition(0.3s);
		@media #{$lg,$xs} {
			margin-bottom: 20px;
		}
		@media #{$sm} {
			margin-bottom: 28px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.pricing-btn {
	& .grb-border-btn {
		font-weight: 500;
		padding: 0 28px;
		border-width: 1px;
		border-radius: 3px;
	}
}

// pricing nav style
.pricing-plans {
	position: relative;
	& .nav-tabs {
		border: none;
		background: #f9f8ff;
		display: inline-block;
		position: absolute;
		top: -135px;
		right: 0;
		@media #{$md} {
			top: -120px;
		}
		@media #{$xs} {
			top: -90px;
			left: 0;
			right: auto;
		}
	}
	& .nav-item {
		display: inline-block;
	}
	& .nav-link {
		padding: 0 20px;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 500;
		color: $heading-color;
		height: 50px;
		line-height: 50px;
		background: #f9f8ff;
		border-radius: 3px;
		border: none;
		min-width: 108px;
		&.active {
			background: $theme-color;
			color: $white;
		}
	}
}
